{{input type='date' value=event.date}}

{{input type='text' placeholder='artist(s)' value=event.artists}}

{{input type='text' placeholder='venue' value=event.venue}}

{{input type='text' placeholder='city' value=event.city}}

<button {{action 'addEvent'}}>submit</button>
