<div class="container">
  {{#link-to 'index'}}
  {{fa-icon "home"}} Home
  {{/link-to}}

  <div class="row">
    <div class="col-sm-8">
      <h1>{{editable-field value=model.artists}}</h1>

      <h2>{{editable-field value=model.venue}}</h2>
      <h3>{{editable-field value=model.city}}</h3>

    </div>
    <div class="col-sm-4">
      {{mini-map venue=model.venue city=model.city}}
    </div>
  </div>

</div>
