<div class="container">
  <ul class="list-inline">
    <li>
      {{#link-to 'index'}}
      {{fa-icon "home"}} Home
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'event.edit' model}}
      {{fa-icon "pencil"}} Edit
      {{/link-to}}
    </li>
  </ul>

  <h1>{{model.artists}}</h1>
  <h2>{{model.venue}}</h2>
  <h3>{{model.city}}</h3>
</div>
