<div class="_events_new container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline">
        <li>
          <h4>
            {{#if model.date}}
            {{moment model.date 'L'}}
            {{/if}}
          </h4>
          <h1>
            {{#if model.artists}}
            {{model.artists}}
            {{else}}
            New Event
            {{/if}}
          </h1>
          <h3>
            {{#if selectedVenue}}
            @ {{selectedVenue.name}}, {{selectedVenue.city}}
            {{/if}}
          </h3>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <form action="">
        <div class="form-group">
          <label for="eventDate">Date</label>

          {{bootstrap-datepicker value=model.date class='form-control' autoclose=true}}

        </div>
        <div class="form-group">
          <label for="eventArtists">Artists</label>

          {{input id='eventArtists' class='form-control' type='text' value=model.artists}}

        </div>

        <div class="form-group">
          <label for="eventVenue">Venue</label>

            {{view 'select' 
            id='eventVenue'
            class='form-control'
            content=model.venues
            optionValuePath='content.id'
            optionLabelPath='content.name'
            selection=selectedVenue}}

          <a href='#' {{action 'toggleCreatingVenue'}}><h4>{{fa-icon 'plus'}} Add Venue</h4></a>
        </div>

        <button id="saveEventBtn" class="btn btn-primary" {{action 'saveEvent' model}}>Save Event</button>
        {{#if saved}}
        <div class="saved-msg text-success">{{saved}}</div>
        {{/if}}
      </form>
    </div>
    <div class="col-sm-6">

      {{#if creatingVenue}}
      {{mini-map venue=model.newVenue saveVenue='saveVenue'}}
      {{/if}}

    </div>
  </div>
</div>
