{{main-map events=controller}}

<div class="container">
  {{#each event in controller}}
  <div class="row">
    <div class="col-xs-3">{{event.date}}</div>
    <div class="col-xs-3">{{event.artists}}</div>
    <div class="col-xs-3">{{event.venue}}</div>
    <div class="col-xs-3">{{event.city}}</div>
  </div>
  {{/each}}
</div>
